<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:fragment="htmlhead" charset="utf-8"/>
	<meta th:fragment="htmlhead" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta th:fragment="htmlhead" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link th:fragment="htmlhead" rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css"
	      integrity="sha384-RxXKUwX/F6fscGMWGhMiqOo9eEGrPgGJrMdgVORn1eS2y1UdMzDnCmZt60lopVlE" crossorigin="anonymous"/>
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<!--@thymesVar id="page" type="java.lang.String"-->
<!--@thymesVar id="currentUser" type="com.peterphi.std.guice.common.auth.iface.CurrentUser" -->
<div th:fragment="navbar" class="ui inverted menu">
	<a class="item" th:href="@{/}">
		<h3>Service Manager</h3>
	</a>
	<a class="item" th:classappend="(${page} == 'resources') ? 'active':null" th:href="@{/}">Resources</a>
	<a class="item" th:classappend="(${page} == 'logtail') ? 'active':null" th:href="@{/logs/tail}">Logs</a>

	<div class="right menu">
		<div th:unless="${currentUser.anonymous}" class="ui item" id="whoamidropdown">
			<i class="user icon"></i>
			<th:block th:text="${currentUser.name}" />
		</div>
	</div>
</div>


<hr th:fragment="footer" />
<p th:fragment="footer">Service Manager</p>


<script th:fragment="htmlfoot" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script th:fragment="htmlfoot" src="//cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"
        integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63" crossorigin="anonymous"></script>
<script th:fragment="htmlfoot" th:src="@{/js/main.js}"></script>
<script th:fragment="htmlfoot" th:src="@{/vendor/moment-2.14.1/moment.min.js}"></script>

<!-- Initialise all dropdowns -->
<script th:fragment="htmlfoot">
	$(document).ready(function() {
		$('.ui.dropdown,select').dropdown();
	});
</script>
</body>
</html>
