<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead" />
	<meta th:fragment="htmlhead" charset="utf-8" />
	<meta th:fragment="htmlhead" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta th:fragment="htmlhead" name="description" content="" />
	<meta th:fragment="htmlhead" name="viewport" content="width=device-width" />
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{/css/main.css}" />
	<script th:fragment="htmlhead" th:src="@{/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js}"></script>
	<script th:fragment="htmlhead" th:src="@{/vendor/jquery-3.1.0/jquery.min.js}"></script>
	<script th:fragment="htmlhead" th:src="@{/vendor/moment-2.14.1/moment.min.js}"></script>

	<!-- Chosen -->
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{/vendor/chosen-1.6.2/chosen.min.css}" />
	<script th:fragment="htmlhead" th:src="@{/vendor/chosen-1.6.2/chosen.jquery.min.js}"></script>
</head>
<body>

<!--@thymesVar id="page" type="java.lang.String"-->

<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" th:href="@{/}">Service Manager</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li th:class="(${page} == 'home') ? 'active':null"><a th:href="@{/}">Home</a></li>
					<li th:class="(${page} == 'logtail') ? 'active':null"><a th:href="@{/logs/tail}">Tail Logs</a></li>
					<li th:class="(${page} == 'logsearch') ? 'active':null"><a th:href="@{/logs/search}">Search Logs</a></li>
				</ul>
			</div><!--/.nav-collapse -->

			<div th:if="${session.login.loggedIn}" class="btn-group navbar-text pull-right" id="whoamidropdown">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> <span th:text="${session.login.name}">user</span> <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/logout}"><i class="i"></i> Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<p>content goes here</p>

	<hr th:fragment="footer" />

	<footer th:fragment="footer">
		<p>Configuration Service</p>
	</footer>

</div> <!-- /container -->
<script th:fragment="htmlfoot" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:fragment="htmlfoot" th:src="@{/js/main.js}"></script>
</body>
</html>
