<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>
	<title>Service Manager - Template</title>
</head>

<body th:with="page='resources'">
<span th:substituteby="includes :: navbar"></span>

<!-- Main Body -->
<div>
	<h1>Template '<span th:text="${entity.id}"></span>'</h1>

	<dl>
		<dt>Name</dt>
		<dd th:text="${entity.id}"></dd>
		<dt>Revision Count</dt>
		<dd th:text="${entity.revisions}"></dd>
		<dt>Latest Revision</dt>
		<dd th:text="${entity.latestRevision}"></dd>
		<dt>Created</dt>
		<dd th:text="${currentUser.format(entity.created)}"></dd>
		<dt>Updated</dt>
		<dd th:text="${currentUser.format(entity.updated)}"></dd>
		<dt>Actions</dt>
		<dd>
			<ul>
				<li>
					<form method="POST" th:action="@{/resources/templates/new-instance}">
						<input type="hidden" name="id" th:value="${entity.id}" />
						<input type="hidden" name="nonce" th:value="${nonce}" />

						<input type="submit" class="ui button" value="New Instance" />
					</form>
				</li>
			</ul>
		</dd>
	</dl>

	<h2>Instances</h2>
	<table class="ui table">
		<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Provider Instance ID</th>
			<th scope="col">State</th>
			<th scope="col">Revision</th>
			<th scope="col">Created</th>
			<th scope="col">Updated</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="inst: ${entity.instances}">
			<td th:text="${inst.id}"></td>
			<td th:text="${inst.providerInstanceId}"></td>
			<td th:text="${inst.state}"></td>
			<td th:text="${inst.revision}"></td>
			<td th:text="${currentUser.format(inst.created)}"></td>
			<td th:text="${currentUser.format(inst.updated)}"></td>
			<td>
				<form method="POST" th:action="@{/resources/resource-instances/discard}" th:if="${inst.state.mayDiscard()}">
					<input type="hidden" name="id" th:value="${inst.id}" />
					<input type="hidden" name="nonce" th:value="${nonce}" />

					<input type="submit" class="btn" value="Discard" />
				</form>
			</td>
		</tr>
		</tbody>
	</table>

	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
</body>
</html>
