<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>
	<title>Service Manager - Templates</title>
</head>

<body>
<span th:substituteby="includes :: navbar (page='resources')"/>

<div>
	<h1>Templates</h1>

	<div class="ui two column centered grid">
		<div class="column">
			<table class="ui table">
				<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Revisions</th>
					<th scope="col">Latest Revision</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="entity: ${entities}">
					<td><a th:href="@{'/resources/template/' + ${entity.id}}" th:text="${entity.id}"></a></td>
					<td th:text="${entity.revisions}"></td>
					<td th:text="${entity.latestRevision}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
</body>
</html>
