<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>
	<title>Rules</title>
</head>

<body>
<span th:substituteby="includes :: navbar (page='rules')"></span>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Rules</h1>

			<dl class="dl-horizontal">
				<dt>Daemon enabled:</dt>
				<dd th:text="${daemon.enabled}"></dd>
				<dt>Inputs Valid:</dt>
				<dd th:text="${inputsValid}"></dd>
				<dt th:if="${not inputsValid}">Inputs Error:</dt>
				<dd th:if="${not inputsValid}" th:text="${inputsError}"></dd>
				<dt>Expressions Valid:</dt>
				<dd th:text="${expressionsValid}"></dd>
				<dt th:if="${not expressionsValid}">Expressions Error:</dt>
				<dd th:if="${not expressionsValid}" th:text="${expressionsError}"></dd>
			</dl>
		</div>
	</div>
	<div class="row" th:if="${inputsValid}">
				<dt>Rules Valid:</dt>
				<dt th:if="${not inputsValid}"></dt>
				<dd th:if="${not inputsValid}" th:text="${inputsError}"></dd>
				<dd th:text="${expressionsValid}"></dd>
				<dt th:if="${not expressionsValid}"></dt>
				<dd th:if="${not expressionsValid}" th:text="${expressionsError}"></dd>
			</dl>
		</div>
	</div>
	<div class="row" th:if="${inputsValid}">
		<div class="col-md-12">
			<h1>Variables</h1>

			<dl class="dl-horizontal" th:each="e: ${varMap}">
				<dt th:text="${e.key}"></dt>
				<dd th:text="${e.value}"></dd>
			</dl>
		</div>
	</div>
	<div class="row" th:if="${expressionsErrorMap != null}">
		<div class="col-md-12">
			<h1>Expression Errors</h1>

			<dl class="dl-horizontal" th:each="e: ${expressionsErrorMap}">
				<dt th:text="${e.key}"></dt>
				<dd th:text="${e.value}"></dd>
			</dl>
		</div>
	</div>
	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
</body>
</html>
