<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>
	<title>Service Manager - Tail Logs</title>
	<script th:src="@{/vendor/logui-SNAPSHOT/logui.js}"></script>
</head>

<body>
<span th:substituteby="includes :: navbar (page='logtail')"></span>
<div class="ui fluid container">
	<h1 class="ui header" style="padding-left: 1em;">Log Tail</h1>

	<div id="logui">

		<!-- Action / Filter menu -->
		<div class="ui secondary menu">
			<div class="item">
				<div class="ui dropdown" id="filter-level">
					<i class="filter icon"></i>
					<span class="text">Any Level</span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">
							Minimum log level
						</div>
						<div class="item" data-value="0">All</div>
						<div class="item" data-value="3">DEBUG</div>
						<div class="item" data-value="4">INFO</div>
						<div class="item" data-value="5">WARN</div>
						<div class="item" data-value="6">ERROR</div>
						<div class="item" data-value="7">FATAL</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="ui multiple dropdown" id="filter-endpoint">
					<i class="filter icon"></i>
					<span class="text">Any Service <i class="dropdown icon"></i></span>
					<div class="menu">
						<div class="header">
							Filter by service
						</div>
					</div>
				</div>
			</div>

			<div class="right menu">
				<div class="item">
					<button class="ui button" onclick="logui.clearLines();">Clear Screen</button>
				</div>
			</div>
		</div>

		<table class="table" id="searchCriteria" style="display: none;">
			<tbody>
			<td class="span3">From: <input id="searchFrom" type="datetime-local"/></td>
			<td class="span3">From: <input id="searchTo" type="datetime-local"/></td>
			<td class="span4">Filter: <input id="searchFilter" type="text"/></td>
			<td class="span1">
				<button id="searchCriteriaExecute" class="btn btn-primary">Search</button>
			</td>
			</tbody>
		</table>

		<table class="ui table">
			<thead>
			<tr>
				<th class="span2 log_endpoint" scope="col">Endpoint</th>
				<th class="span1 log_when" scope="col">When</th>
				<th class="span1 log_level" scope="col">Level</th>
				<th class="span7 log_message" scope="col">Message</th>
			</tr>
			</thead>
			<tbody id="loglines" style="text-overflow: ellipsis;">
			<tr id="latest">
				<td colspan="4"><em>Monitoring for new lines...</em></td>
			</tr>
			</tbody>
		</table>
	</div>

	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
<script th:inline="javascript">/*<![CDATA[*/
var tailURL = /*[[@{/logs/tail.do}]]*/ '';
var searchURL = /*[[@{/logs/search.do}]]*/ '';
var subscriptionId = /*[[${subscriptionId}]]*/ '';
var nonce = /*[[${nonce}]]*/ '';
var logui;

$(document).ready(function () {
	logui = new LogUI($("#logui"), nonce, tailURL, searchURL);

	logui.startTail(subscriptionId);
});

/*]]>*/
</script>

</body>
</html>
