<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>
	<title>Service Manager - Tail Logs</title>

	<style th:fragment="htmlhead">
		pre {
			font-size: 11px;
		}

		body {
			padding-bottom: 40px;
		}

		.dl-horizontal > dd:after {
			display: table;
			content: "";
			clear: both;
		}
	</style>
	<script th:src="@{/vendor/logui-SNAPSHOT/logui.js}"></script>
</head>

<body th:with="page='logtail'">
<span th:substituteby="includes :: navbar"></span>
<div class="container">
	<h1>Log Tail</h1>

	<div id="logui">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Filter Endpoints<span
						id="filterEndpointsSummary"></span>
					<span class="caret"></span></button>
				<ul class="dropdown-menu" id="filterEndpointsOptions" style="padding-left: 10px; padding-right: 10px;">
					<li><em>No endpoints observed yet</em></li>
				</ul>
			</div>

			<div class="btn-group">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Level<span
						id="filterLevelSummary"></span>
					<span class="caret"></span></button>
				<ul class="dropdown-menu" id="filterLevelOptions" style="padding-left: 10px;">
					<li><label class="radio control-label"><input type="radio" name="level" value="0" checked="checked"/>
						All</label>
					</li>
					<li><label class="radio control-label"><input type="radio" name="level" value="3"/> DEBUG</label></li>
					<li><label class="radio control-label"><input type="radio" name="level" value="4"/> INFO</label></li>
					<li><label class="radio control-label"><input type="radio" name="level" value="5"/> WARN</label></li>
					<li><label class="radio control-label"><input type="radio" name="level" value="6"/> ERROR</label></li>
					<li style="padding-bottom: 5px;"><label class="radio control-label"><input type="radio" name="level"
					                                                                           value="7"/>
						FATAL</label></li>
				</ul>
			</div>


			<div class="btn-group">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Endpoint Display<span
						id="renderEndpointSummary"> (short)</span>
					<span class="caret"></span></button>
				<ul class="dropdown-menu" id="renderEndpointOptions" style="padding-left: 10px;">
					<li><label class="radio control-label"><input type="radio" name="endpointRender" value="short"
					                                              checked="checked"/>
						Short</label>
					</li>
					<li style="padding-bottom: 5px;"><label class="radio control-label"><input type="radio" name="endpointRender"
					                                                                           value="full"/> Full</label></li>
				</ul>
			</div>

			<div class="btn-group">
				<button class="btn" type="button" onclick="logui.clearLines()">Clear</button>
			</div>
		</div>

		<table class="table" id="searchCriteria" style="display: none;">
			<tbody>
			<td class="span3">From: <input id="searchFrom" type="datetime-local"/></td>
			<td class="span3">From: <input id="searchTo" type="datetime-local"/></td>
			<td class="span4">Filter: <input id="searchFilter" type="text"/></td>
			<td class="span1">
				<button id="searchCriteriaExecute" class="btn btn-primary">Search</button>
			</td>
			</tbody>
		</table>

		<table class="table">
			<thead>
			<tr>
				<th class="span2 log_endpoint">Endpoint</th>
				<th class="span1 log_when">When</th>
				<th class="span1 log_level">Level</th>
				<th class="span7 log_message">Message</th>
			</tr>
			</thead>
			<tbody id="loglines" style="text-overflow: ellipsis;">
			<tr id="latest">
				<td colspan="4"><em>Monitoring for new lines...</em></td>
			</tr>
			</tbody>
		</table>
	</div>

	<script th:inline="javascript">/*<![CDATA[*/
	var tailURL = /*[[@{/logs/tail.do}]]*/ '';
	var searchURL = /*[[@{/logs/search.do}]]*/ '';
	var subscriptionId = /*[[${subscriptionId}]]*/ '';
	var nonce = /*[[${nonce}]]*/ '';
	var logui;

	$(document).ready(function () {
		logui = new LogUI($("#logui"), nonce, tailURL, searchURL);

		logui.startTail(subscriptionId);
	});

	/*]]>*/
	</script>

	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
</body>
</html>
