<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<title>User Manager: Log in to remote service</title>
	<link th:substituteby="includes :: htmlhead"/>
</head>
<body>
<span th:substituteby="includes :: navbar"></span>

<div class="container">
	<h2>An application would like to connect to your account</h2>

	<div class="lead">
		<p>The application <strong th:text="${client.name}"></strong> would like the ability to access your basic information for
			<span th:text="${session.login.email}"></span>
			<th:block th:unless="${scopes.isEmpty()}"> and the following additional data:
				<ul>
					<li th:each="scope: ${scopes}" th:text="${scope}"></li>
				</ul>
			</th:block>
		</p>

		<p>Allow the application access?</p>

		<form method="POST" th:action="@{/oauth2/authorize}">
			<input type="hidden" name="nonce" th:value="${nonce}"/>
			<input type="hidden" name="response_type" th:value="${responseType}"/>
			<input type="hidden" name="scope" th:value="${scope}"/>
			<input type="hidden" name="client_id" th:value="${clientId}"/>
			<input type="hidden" name="redirect_uri" th:value="${redirectUri}"/>
			<input type="hidden" name="state" th:value="${state}"/>

			<input type="submit" class="btn btn-large"
			       name="decision" value="Deny"/>
			<input type="submit" class="btn btn-primary btn-large"
			       name="decision" value="Allow"/>
		</form>
	</div>

	<footer th:substituteby="includes :: footer"></footer>
</div>
<!-- /container -->
<!-- Include jquery etc -->
<div th:substituteby="includes :: htmlfoot"></div>
</body>
</html>
