<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Manager - Failure</title>
    <link th:replace="includes :: htmlhead" />
</head>
<body th:with="page='home'">
<span th:replace="includes :: navbar"></span>

<div class="container">
    <h1>Error</h1>
    <span th:text="${failure.exception.detail}" />

    <hr />

    <h3>Technical Detail</h3>
    <p>
        The following technical information may be of help to diagnose the underlying issue:<br />
        <code th:text="${failure.exception.className}" /> thrown on <code th:text="${failure.date}" /> with id <code th:text="${failure.id}" /> and error code <code th:text="${failure.errorCode}" /> returning HTTP Code <code th:text="${failure.httpCode}" />.
    </p>


    <footer th:replace="includes :: footer"></footer>
</div>
<!-- /container -->
<!-- Include jquery etc -->
<div th:replace="includes :: htmlfoot"></div>
</body>
</html>
