<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Manager</title>
	<link th:replace="includes :: htmlhead"/>
</head>
<body th:with="page='home'">
<span th:replace="includes :: navbar"></span>

<div class="container">
	<div class="hero-unit">
		<h1>User Manager</h1>


		<p th:if="${session.login.isAdmin()}">
			<a class="btn btn-primary btn-large"
			   th:href="@{/users}">User List &raquo;</a>
		</p>
	</div>

	<footer th:replace="includes :: footer"></footer>
</div>
<!-- /container -->
<!-- Include jquery etc -->
<div th:replace="includes :: htmlfoot"></div>
</body>
</html>
