<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Manager: Reset Password</title>
	<link th:replace="includes :: htmlhead"/>
	<link th:replace="includes :: htmlhead_chosen"/>
</head>
<body th:with="page='reset-password'">
<span th:replace="includes :: navbar"></span>

<div class="container">
	<h1>Reset Password</h1>

	<div class="alert alert-error" th:unless="${errorText.isEmpty()}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Error</h4><span th:text="${errorText}"></span>
	</div>

	<form class="form-horizontal" method="POST" th:action="@{/reset}" autocomplete="off">
		<div class="control-group" th:if="${code.isEmpty()}">
			<label class="control-label">Code:</label>
			<div class="controls">
				<input type="text" name="code" placeholder="Password Reset Code"/>
			</div>
		</div>
		<input type="hidden" th:unless="${code.isEmpty()}" name="code" th:value="${code}" />

		<div class="control-group">
			<label class="control-label">Password:</label>
			<div class="controls">
				<input type="password" name="new_password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Password again:</label>
			<div class="controls">
				<input type="password" name="new_password_confirm"/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="hidden" name="token" th:value="${token}"/>
				<button type="submit" class="btn">Reset Password</button>
			</div>
		</div>
	</form>

	<footer th:replace="includes :: footer"></footer>
</div>
<!-- Include jquery etc -->
<div th:replace="includes :: htmlfoot"></div>
</body>
</html>
