<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Manager: Reset Password Flow Started</title>
	<link th:replace="includes :: htmlhead"/>
	<link th:replace="includes :: htmlhead_chosen"/>
</head>
<body th:with="page='reset-password'">
<span th:replace="includes :: navbar"></span>

<div class="container">
	<h1>Reset Password Flow Started</h1>

	<p>Text to provide to user:</p>

	<div>
		<p>A password reset has been initiated for <span th:text="${targetUser.getEmail()}">...</span></p>
		<p>Please <a th:href="@{/reset(code=${code})}">click here to reset your password.</a></p>
		<p></p>
		<p>This code will expire in 24 hours.</p>
	</div>

	<footer th:replace="includes :: footer"></footer>
</div>
<!-- Include jquery etc -->
<div th:replace="includes :: htmlfoot"></div>
</body>
</html>
