<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<title>User Manager: User Accounts</title>
	<link th:substituteby="includes :: htmlhead"/>
</head>
<body>
<span th:substituteby="includes :: navbar"></span>

<div class="container">
	<div th:fragment="services">
		<h1>Services</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="#addServiceModal" data-toggle="modal">Add New Service</a></li>
	</ul>

	<!-- Create service modal -->
	<form id="addServiceModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog"
	      aria-labelledby="addServiceModalLabel" aria-hidden="true" method="POST" autocomplete="off"
	      th:action="@{'/services/create'}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="addServiceModalLabel">Add Service</h3>
		</div>
		<div class="modal-body">
			<!-- name -->
			<div class="control-group">
				<label class="control-label" for="input_name">Name</label>

				<div class="controls">
					<input
							type="text"
							id="input_name"
							name="name" value="" placeholder="Name of your service"/>
				</div>
			</div>

			<!-- endpoints -->
			<div class="control-group">
				<label class="control-label" for="input_endpoints">Endpoints</label>

				<div class="controls">
					<textarea style="width: 95%" cols="5"
							type="text"
							id="input_endpoints"
							name="endpoints"
							placeholder="Endpoint prefixes (one per line)"
							value=""/>

					<!-- Help / Warning text -->
					<span class="help-inline"></span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="nonce" th:value="${nonce}"/>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<input class="btn btn-primary" type="submit" value="Create"/>
		</div>
	</form>

	<table class="table table-striped" th:fragment="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Enabled</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="service: ${entities}">
			<td><a th:href="@{'/service/' + ${service.id}}" th:text="${service.name}">Name</a></td>
			<td th:text="${service.enabled}">Enabled</td>
		</tr>
		</tbody>
	</table>

	<footer th:substituteby="includes :: footer"></footer>
</div>
<!-- /container -->
<!-- Include jquery etc -->
<div th:substituteby="includes :: htmlfoot"></div>
</body>
</html>
