<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Service Metrics</title>

	<link th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<body id="top">
<div class="navbar" th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1>Metrics</h1>

	<p>Below are all the metrics currently exposed by this application. Please note that a named metric may appear more than once
		(for example, a Timer will appear in Histograms, Meters and Counters)</p>

	<!-- Gauges -->
	<h3>Gauges</h3>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<!--@thymesVar id="gauges" type="java.util.Set<java.util.Map.Entry<java.lang.String, com.codahale.metrics.Gauge>>"-->
		<!--@thymesVar id="entry" type="java.util.Map.Entry<java.lang.String, com.codahale.metrics.Gauge>"-->
		<tr th:each="entry: ${gauges}" th:id="${entry.key}+'-gauge'">
			<td th:text="${entry.key}"></td>
			<td th:if="${entry.getValue()}" th:text="${entry.getValue().getValue()}"></td>
			<td th:unless="${entry.getValue()}">0</td>
		</tr>
		</tbody>
	</table>

	<!-- Counters -->
	<h3>Counters</h3>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="entry: ${counters}" th:id="${entry.key}+'-counter'">
			<td th:text="${entry.key}"></td>
			<td th:text="${entry.value.count}"></td>
		</tr>
		</tbody>
	</table>

	<!-- Meters -->
	<h3>Meters</h3>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Count</th>
			<th>Mean</th>
			<th>15m</th>
			<th>5m</th>
			<th>1m</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="entry: ${meters}" th:id="${entry.key}+'-meter'">
			<td th:text="${entry.key}"></td>
			<td th:text="${entry.value.count}"></td>
			<td th:text="${entry.value.meanRate}"></td>
			<td th:text="${entry.value.fifteenMinuteRate}"></td>
			<td th:text="${entry.value.fiveMinuteRate}"></td>
			<td th:text="${entry.value.oneMinuteRate}"></td>
		</tr>
		</tbody>
	</table>

	<!-- Histograms -->
	<h3>Histograms</h3>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>75%</th>
			<th>95%</th>
			<th>98%</th>
			<th>99%</th>
			<th>99.9%</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="entry: ${histograms}" th:id="${entry.key}+'-histogram'">
			<td th:text="${entry.key}"></td>
			<td th:text="${entry.value.snapshot.get75thPercentile()}"></td>
			<td th:text="${entry.value.snapshot.get95thPercentile()}"></td>
			<td th:text="${entry.value.snapshot.get98thPercentile()}"></td>
			<td th:text="${entry.value.snapshot.get99thPercentile()}"></td>
			<td th:text="${entry.value.snapshot.get999thPercentile()}"></td>
		</tr>
		</tbody>
	</table>


</div>
</body>
</html>
