<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Service Configuration</title>

	<link th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<!--@thymesVar id="configRegistry" type="com.peterphi.std.guice.common.serviceprops.ConfigurationPropertyRegistry"-->
<!--@thymesVar id="config" type="com.peterphi.std.guice.common.serviceprops.composite.GuiceConfig"-->
<!--@thymesVar id="showProperties" type="java.lang.Boolean"-->
<!--@thymesVar id="showBoundValues" type="java.lang.Boolean"-->
<!--@thymesVar id="allowReconfigure" type="java.lang.Boolean"-->

<body id="top">
<div class="navbar" th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1>Configuration</h1>

	<p>The following configuration properties are in use by this webapp. This may grow as more services are dynamically
		loaded.</p>

	<p>To make a configuration change permanent you must <a href="#save_to_disk">save the configuration to disk</a>.</p>

	<h3>Application Properties</h3>
	<ul>
		<li th:each="prop: ${configRegistry.applicationProperties}">
			<a th:href="'#' + ${prop.name}" th:text="${prop.name}"></a></li>
	</ul>

	<h3>Framework Properties</h3>
	<ul>
		<li th:each="prop: ${configRegistry.frameworkProperties}">
			<a th:href="'#' + ${prop.name}" th:text="${prop.name}"></a></li>
	</ul>

	<h1>Detail</h1>

	<div th:each="prop: ${configRegistry.all}" class="property-container" th:attr="data-property-name=${prop.name}">
		<h3>
			<a th:href="'#' + ${prop.name}" th:id="${prop.name}" th:text="${prop.name}">name</a>
		</h3>

		<div class="alert" th:if="${prop.deprecated}">
			<strong>Deprecated</strong><br/>
			This property is included for legacy use and will be removed in a future release.
		</div>

		<div class="alert" th:unless="${prop.reconfigurable}">
			<strong>No dynamic reconfiguration</strong><br/>
			This property cannot be dynamically reconfigured; a servlet/guice environment restart will be required to apply the
			change.
		</div>

		<p data-content-meaning="documentation" style="white-space: pre-wrap" th:text="${prop.documentation}">documentation</p>

		<th:block th:if="${allowReconfigure}">
			<h5>Change</h5>

			<p>

			<form th:action="@{|${coreRestPrefix}/guice/config/reconfigure|}" method="POST">
				<input type="hidden" name="key" th:value="${prop.name}"/>

				<input th:if="${showProperties}" type="text" name="value" th:value="${config.get(prop.name,'')}"/>
				<input th:unless="${showProperties}" type="text" name="value" th:value=""/>

				<input type="submit" value="Change"/>
			</form>
			</p>
		</th:block>

		<h5>Binding Information</h5>
		<table class="table">
			<tbody>
			<tr th:if="${showProperties}">
				<th class="span3">Configured Value</th>
				<td data-content-meaning="liveValue"
				    th:text="${config.get(prop.name, 'Not configured - using internal default')}">prop value
				</td>
			</tr>
			<tr>
				<th class="span3">Data type</th>
				<td th:if="${prop.type}" data-content-meaning="propertyType" th:text="${prop.type}">type</td>
				<td th:unless="${prop.type}" data-content-meaning="propertyType">Unknown</td>
			</tr>
			<tr th:unless="${prop.hrefs.isEmpty()}">
				<th class="span3">See Also</th>
				<td>
					<ul>
						<li th:each="href: ${prop.hrefs}" data-content-meaning="docHref"><a th:href="@{href}"
						                                                                    th:text="${href}"></a></li>
					</ul>
				</td>
			</tr>
			<tr th:unless="${prop.bindings.isEmpty()}">
				<th class="span3">Binding Sites</th>
				<td>
					<ul>
						<li th:each="binding: ${prop.bindings}" data-content-meaning="bindingClass">
							<span th:text="${binding.owner}">owner</span> (type=<span th:text="${binding.type}">type</span>)
							<span th:unless="${prop.reconfigurable}" th:text="'reconfigurable='+${binding.reconfigurable}">reconfigurable=false</span>
						</li>
					</ul>
				</td>
			</tr>
			<th:block th:if="${showBoundValues}">
				<th:block th:with="boundValues = ${prop.boundValues}">
					<tr th:unless="${boundValues.isEmpty() or prop.bindings.isEmpty()}">
						<th class="span3">Bound values</th>
						<td>
							<ul>
								<li th:each="boundValue: ${boundValues}" th:text="${boundValue}">value</li>
							</ul>
						</td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
	</div>


	<h1>Overrides</h1>

	<h3 id="save_to_disk">Save to disk</h3>

	<p>Do you wish to save the current in-memory changes to the configuration back to disk? They will be saved to the configured
		property overrides file for this webapp.</p>

	<form method="POST" th:action="@{|${coreRestPrefix}/guice/config/save|}">
		<input type="submit" value="Save to disk"/>
	</form>
</div>
</body>
</html>
