<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="registry" type="com.peterphi.std.guice.common.daemon.GuiceDaemonRegistry"-->
<!--@thymesVar id="coreRestPrefix" type="java.lang.String"-->
<!--@thymesVar id="message" type="java.lang.String"-->
<head>
	<title>Daemons</title>

	<link th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<body id="top">
<div class="navbar" th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1>Threads</h1>

	<div id="message-div" th:if="${message}" class="alert alert-success">
		<th:block th:text="${message}"></th:block>
		<script>
			setTimeout(function () {
				var div = document.getElementById("message-div");

				div.parentNode.removeChild(div);
			}, 15000);

			// Remove the query string params
			history.replaceState(null, null, window.location.href.split('?')[0]);
		</script>
	</div>

	<p>This page lists daemons and centrally-managed threads started by this application</p>

	<th:block th:with="daemons = ${registry.daemons}">
		<th:block th:unless="${#lists.isEmpty(daemons)}">
			<h2>Daemons</h2>
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Alive?</th>
					<th>Running?</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="daemon: ${daemons}">
					<td th:text="${daemon.name}">name</td>

					<td th:text="${daemon.threadRunning ? '✔' : '✖'}">Yes / No</td>

					<td th:text="${daemonDescriber.apply(daemon)}">description</td>
				</tr>
				</tbody>
			</table>
		</th:block>
	</th:block>

	<th:bock th:with="daemons = ${registry.recurring}">
		<th:block th:unless="${#lists.isEmpty(daemons)}">
			<h2>Recurring Daemons</h2>
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Alive?</th>
					<th>Running?</th>
					<th>Interval</th>
					<th>Last Ran</th>
					<th>Runs</th>
					<th>Errors</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="daemon: ${daemons}">
					<tr>
						<td><strong th:text="${daemon.name}">name</strong></td>
						<td th:text="${daemon.threadRunning ? '✔' : '✖'}">Yes / No</td>
						<td th:text="${daemon.userCodeRunning ? '✔' : '✖'}">Yes / No</td>

						<td th:text="${daemon.sleepTime.toEnglishString()}"></td>
						<td th:text="${daemon.lastRan}"></td>
						<td th:text="${daemon.calls.count}"></td>
						<td th:text="${daemon.exceptions.count}"></td>
					</tr>
					<tr>
						<td colspan="6">
							<p><em th:text="${daemonDescriber.apply(daemon)}">description</em></p>
							<p th:if="${daemon.textState}"><span th:text="${daemon.textState}"></span> (<span th:text="${(#dates.createNow().getTime() - daemon.getTextStateUpdated()) / 1000}">10</span> sec ago)</p>
						</td>
						<td>
							<form method="POST"
							      th:action="@{|${coreRestPrefix}/guice/threads/trigger|}">
								<input type="hidden" name="name" th:value="${daemon.name}"/>
								<input type="hidden" name="verbose" value="false" />
								<input type="submit" value="Run Now"/>
							</form>
							<form method="POST"
							      th:action="@{|${coreRestPrefix}/guice/threads/trigger|}">
								<input type="hidden" name="name" th:value="${daemon.name}"/>
								<input type="hidden" name="verbose" value="true" />
								<input type="submit" value="Run (Traced)"/>
							</form>
							<form th:if="${daemon.threadRunning}" method="POST"
							      th:action="@{|${coreRestPrefix}/guice/threads/interrupt|}">
								<input type="hidden" name="name" th:value="${daemon.name}"/>
								<input type="submit" value="Interrupt"/>
							</form>
							<form th:if="${daemon.threadRunning}" method="GET"
							      th:action="@{|${coreRestPrefix}/guice/threads/stacktrace|}">
								<input type="hidden" name="name" th:value="${daemon.name}"/>
								<input type="submit" value="Detail"/>
							</form>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</th:block>
	</th:bock>
</div>
</body>
</html>
