<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="registry" type="com.peterphi.std.guice.common.daemon.GuiceDaemonRegistry"*/-->
<!--/*@thymesVar id="coreRestPrefix" type="java.lang.String"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!--/*@thymesVar id="stack" type="java.lang.StackTraceElement[]"*/-->
<head>
	<title>Daemons</title>

	<link th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<body id="top">
<div class="navbar" th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1><span th:text="${name}"></span> - Stack Trace</h1>

	<p th:unless="${stack}"><em>No stack trace available - does not appear to be associated with a thread</em></p>

	<code>
		<table th:if="${stack}">
			<tbody>
			<tr th:each="line: ${stack}">
				<td th:text="${line.toString()}"></td>
			</tr>
			</tbody>
		</table>
	</code>
</div>
</body>
</html>
