<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="registry" type="com.peterphi.std.guice.common.daemon.GuiceDaemonRegistry"-->
<!--@thymesVar id="coreRestPrefix" type="java.lang.String"-->
<!--@thymesVar id="message" type="java.lang.String"-->
<!--@thymesVar id="currentUser" type="com.peterphi.std.guice.common.auth.iface.CurrentUser"-->
<head>
	<title>Daemons</title>

	<link th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<body id="top">
<div class="navbar" th:replace="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1>User Info</h1>

	<div>The user provider associated with this session is: '<span th:text="${currentUser.authType}">type</span>'.</div>
	<div>Username is: '<span  th:text="${currentUser.username}">username</span>'</div>
	<div th:if="${currentUser.expires}">Login has an expiry date of '<span  th:text="${currentUser.format(currentUser.expires)}">date</span>'.</div>

	<th:block th:unless="${currentUser.isAnonymous()}">
		<div>
			Current Roles:
			<ul>
				<li th:each="role: ${currentUser.roles}" th:text="${role}">role name</li>
			</ul>
		</div>

		<div th:unless="${currentUser.claims.isEmpty()}">
			Claims:
			<ul>
				<li th:each="entry: ${currentUser.claims}">
					<strong th:text="${entry.getKey()}">claim name</strong> = <span th:text="${entry.getValue()}">value</span>
				</li>
			</ul>
		</div>
	</th:block>

	<!-- Save pre-generated JWT -->
	<div>
		<h3>Save JWT to Cookie</h3>

		<p><em>This requires a JWT be generated against this service externally; once saved to a cookie, the HTTP session (if one exists) will be invalidated, so that a new session will start under the new credentials.</em></p>

		<form class="form-horizontal" method="POST" enctype="application/x-www-form-urlencoded">
			<div class="control-group">
				<label class="control-label">Token:</label>

				<div class="controls">
					<textarea name="token" cols="100" rows="10"></textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" name="op" value="Save"/>
					<br/><br/>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
