<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="registry" type="com.peterphi.std.guice.common.daemon.GuiceDaemonRegistry"-->
<!--@thymesVar id="coreRestPrefix" type="java.lang.String"-->
<!--@thymesVar id="message" type="java.lang.String"-->
<head>
	<title>Daemons</title>

	<link th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: htmlhead"/>
</head>

<body id="top">
<div class="navbar" th:substituteby="/com/peterphi/std/guice/web/rest/service/restcore/service_list.html :: navbar"></div>


<div class="container">
	<h1>JWT Generate / Save</h1>

	<div th:if="${message}" class="alert alert-info">
		<th:block th:text="${message}"></th:block>
	</div>

	<p>This page allows you to generate / save JWT authentication tokens for service access.</p>

	<h4>Current User Provider</h4>
	<div>The user provider associated with this session is '<span th:text="${currentUser.authType}">type</span>'. Username is '<span
			th:text="${currentUser.username}">username</span>' and the current token has an expiry date of '<span
			th:text="${currentUser.format(currentUser.expires)}">date</span>'. Clicking one of the <em>Save</em> buttons below will
		start a new session (so that the JWT provider can claim the session).
	</div>

	<!-- Save pre-generated JWT -->
	<div>
		<h3>Save pre-generated JWT to Cookie</h3>

		<form class="form-horizontal" method="POST" enctype="application/x-www-form-urlencoded">
			<div class="control-group">
				<label class="control-label">Token:</label>

				<div class="controls">
					<textarea name="token" cols="100" rows="10"></textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" name="op" value="Save"/>
					<br/><br/>
				</div>
			</div>
		</form>
	</div>

	<!-- Generate and save JWT -->
	<div>
		<h3>Generate and save JWT to Cookie</h3>

		<form class="form-horizontal" method="POST" enctype="application/x-www-form-urlencoded">
			<div class="control-group">
				<label class="control-label">JWT Secret:</label>

				<div class="controls">
					<input type="password" name="secret"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Payload:</label>

				<div class="controls">
					<textarea name="payload" cols="100" rows="20">{
    "roles": [ "user", "admin", "framework-admin", "framework-info" ]
}</textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" name="op" value="Save"/>
					<input type="submit" class="btn" name="op" value="Generate"/>
					<br/><br/>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
