<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="services" type="java.util.List<com.peterphi.std.guice.web.rest.service.servicedescription.freemarker.RestServiceInfo>"*/-->
<!--/*@thymesVar id="coreRestPrefix" type="java.lang.String"*/-->
<!--/*@thymesVar id="coreServices" type="com.peterphi.std.guice.web.rest.service.GuiceCoreServicesRegistry"*/-->
<head>
	<title>REST resources</title>
	<meta th:fragment="htmlhead" charset="utf-8"/>
	<link th:fragment="htmlhead" rel="stylesheet" th:href="@{|${coreRestPrefix}/guice/style.css|}"/>
	<script th:fragment="htmlhead" th:src="@{|${coreRestPrefix}/guice/main.js|}"></script>
</head>

<body id="top">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0,2,38)" th:fragment="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{|${coreRestPrefix}/guice|}">Framework</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li th:each="service: ${coreServices.services}" class="nav-item"><a class="nav-link" th:href="@{|${coreRestPrefix}${service.path}|}" th:text="${service.name}">Service Name</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<h1>REST Services</h1>

	<p>The REST services registered within this webapp.</p>
	<table class="table">
		<thead>
		<tr>
			<th>Path</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="service,itStat: ${services}">
			<td>
				<ul class="unstyled list-unstyled">
					<li th:each="path: ${service.paths}" th:text="${path}">path</li>
				</ul>
			</td>
			<td>
				<strong><a th:href="@{|${coreRestPrefix}/guice/service/${service.interfaceName}|}"
				           th:text="${service.interfaceName}">iface</a></strong>
			</td>
			<td th:text="${service.description}">description</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
