<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>

	<title th:text="'config:/'+${path}">config:path</title>
</head>

<body id="top">
<!--/*@thymesVar id="inheritedProperties" type="java.util.List<com.peterphi.std.guice.config.rest.types.ConfigPropertyValue>"*/-->
<!--/*@thymesVar id="definedProperties" type="java.util.List<com.peterphi.std.guice.config.rest.types.ConfigPropertyValue>"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="parent" type="java.lang.String"*/-->
<!--/*@thymesVar id="children" type="java.util.List<java.lang.String>"*/-->
<!--/*@thymesVar id="paths" type="java.util.List<java.lang.String>"*/-->
<div class="container">
	<h1 th:if="${path.length() > 0}">Path: <span th:text="${path}"></span></h1>
	<h1 th:unless="${path.length() > 0}">Path: (root)</h1>

	<ul class="nav nav-pills">
		<li th:if="${parent}"><a th:href="@{'/edit/'+${parent}}">Parent</a></li>
		<li><a shape="rect" href="#createChildModal" data-toggle="modal">Add Child</a></li>
		<li><a shape="rect" href="#importPropertiesModal" data-toggle="modal">Import Property File</a></li>
	</ul>

	<!-- Create child -->
	<form id="createChildModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog"
	      aria-labelledby="createChildModalLabel" aria-hidden="true" method="POST" enctype="application/x-www-form-urlencoded"
	      autocomplete="off" th:action="@{/create-path}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="createChildModalLabel">Create new path</h3>
		</div>
		<div class="modal-body">
			<p>Create a new configuration child path under <span th:text="${path}">this path</span></p>
			<p><input type="hidden" name="parent_path" th:value="${path}"/></p>
			<p><input name="child_path" value=""/></p>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="_nonce" th:value="${nonce}"/>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<input class="btn btn-primary" type="submit" value="Create"/>
		</div>
	</form>

	<!-- Import properties -->
	<form id="importPropertiesModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog"
	      aria-labelledby="importPropertiesModalLabel" aria-hidden="true" method="POST"
	      enctype="application/x-www-form-urlencoded"
	      autocomplete="off" th:action="@{/import-properties}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="importPropertiesModalLabel">Create new path</h3>
		</div>
		<div class="modal-body">
			<p>Import property file into <span th:text="${path}">this path</span>. Any existing properties with the same name will be overwritten.</p>

			<!-- properties -->
			<div class="control-group">
				<label class="control-label" for="input_properties">properties</label>

				<div class="controls">
					<textarea style="width: 95%" rows="5"
					          type="text"
					          id="input_properties"
					          name="properties"
					          placeholder="Property file (key=value pairs, one per line)"
					          value=""/>

					<!-- Help / Warning text -->
					<span class="help-inline"></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Commit Message:</label>

				<div class="controls">
					<textarea name="_message" rows="2" style="width: 95%;" placeholder="Reason for / description of change"/>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="_path" th:value="${path}"/>
			<input type="hidden" name="_nonce" th:value="${nonce}"/>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<input class="btn btn-primary" type="submit" value="Create"/>
		</div>
	</form>

	<th:block th:if="${children.size() > 0}">
		<h1>Children</h1>
		<ul>
			<li th:each="child: ${children}"><a th:href="@{'/edit/' + ${child}}" th:text="${child}">child path</a></li>
		</ul>
	</th:block>

	<form id="property-update-form" th:action="@{/update}" method="POST">
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			<li class="active"><a href="#props-tab" data-toggle="tab">Properties</a></li>
			<li th:if="${inheritedProperties.size() > 0}"><a href="#inherited-props-tab" data-toggle="tab">Inherited</a></li>
			<li><a href="#services-tab" data-toggle="tab">Services</a></li>
			<li><a href="#framework-config-tab" data-toggle="tab">Framework Config</a></li>
			<li><a href="#auth-tab" data-toggle="tab">Auth</a></li>
		</ul>

		<div class="tab-content">


			<!-- Service Links -->
			<div id="services-tab" class="tab-pane">
				<div class="alert alert-info">This UI component is a non-functional mock-up</div>

				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#service-example-tab" data-toggle="tab">example</a></li>
						<li><a href="#service-add-tab" data-toggle="tab">Add</a></li>
					</ul>
					<div class="tab-content">
						<div id="service-example-tab" class="tab-pane active">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Endpoint</label>

									<div class="controls">
										<input type="text" data-property-name="service.example.endpoint"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Bearer Token</label>

									<div class="controls">
										<input type="text" data-property-name="service.example.bearer"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Auth Type</label>

									<div class="controls">
										<select data-property-name="service.example.auth-type">
											<option selected="selected">default</option>
											<option>preemptive-basic</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Cookies</label>

									<div class="controls">
										<select data-property-name="service.example.cookie-store">
											<option value="true">True</option>
											<option selected="selected" value="false">False</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Fast Fail</label>

									<div class="controls">
										<select data-property-name="service.example.fast-fail">
											<option value="true">True</option>
											<option selected="selected" value="false">False</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="service-add-tab" class="tab-pane">
							<div class="form-horizontal">
								<div class="control-group">
									<em>Add a link to a remote service</em>
								</div>
								<div class="control-group">
									<label class="control-label">Import</label>
									<div class="controls">
										<button class="btn">Link to User Manager Service</button>
										<button class="btn">Link to Service Registry Service</button>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Name</label>

									<div class="controls">
										<input type="text" placeholder="service-alias"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Endpoint</label>

									<div class="controls">
										<input type="text" placeholder="https://www.example.com/service"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Bearer Token</label>

									<div class="controls">
										<input type="text"/>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button class="btn-primary">Add</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Configure service authentication -->
			<div id="auth-tab" class="tab-pane">
				<div class="alert alert-info">This UI component is a non-functional mock-up</div>

				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#auth-oauth-tab" data-toggle="tab">OAuth2</a></li>
						<li><a href="#auth-jwt-tab" data-toggle="tab">JWT</a></li>
					</ul>
					<div class="tab-content">
						<!-- OAuth2 Server Link -->
						<div id="auth-oauth-tab" class="tab-pane active">
							<div class="form-horizontal">
								<div class="control-group">
									<em>Services at/under this path will use the provided OAuth2 server to authorise browser
										clients</em>
								</div>
								<div class="control-group">
									<label class="control-label">User Manager</label>
									<div class="controls">
										<button class="btn btn-primary">Link To Existing Service</button>
										<button class="btn">Register New Service</button>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Server Endpoint</label>

									<div class="controls">
										<input type="text" data-property-name="service.oauth2.endpoint"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Client ID</label>

									<div class="controls">
										<input type="text" data-property-name="service.oauth2.client_id"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Client Secret</label>

									<div class="controls">
										<input type="text" data-property-name="service.oauth2.client_secret"/>
									</div>
								</div>
							</div>
						</div>
						<!-- JWT Secret -->
						<div id="auth-jwt-tab" class="tab-pane">
							<div class="form-horizontal">
								<div class="control-group">
									<em>Services at/under this path will use <a href="https://jwt.io">Javascript Web Tokens</a>
										signed using the below details to
										authorise (service) clients</em>
								</div>
								<div class="control-group">
									<label class="control-label">Generate</label>
									<div class="controls">
										<button class="btn btn-primary">Generate Random Secret</button>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">JWT Secret</label>

									<div class="controls">
										<input type="text" data-property-name="framework.webauth.jwt.secret"/>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>


			<div id="framework-config-tab" class="tab-pane">
				<div class="alert alert-info">This UI component is a non-functional mock-up</div>
			</div>


			<!-- Raw Properties -->
			<div id="props-tab" class="tab-pane active">
				<h1>Defined Properties</h1>

				<table class="table properties-table">
					<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="kvp: ${definedProperties}">
						<td class="span3" th:text="${kvp.name}">name</td>
						<td class="span8">
							<textarea class="span10" th:attr="data-property-name=${kvp.name}" th:name="'property.'+${kvp.name}"
							          rows="2" th:text="${kvp.value}"
							          onchange="propertyChanged(this)"></textarea>
						</td>
						<td class="span1"><a class="remove-link" href="#" onclick="removeProperty(this)">×</a></td>
					</tr>

					<!-- Template for newly added properties -->
					<tr id="new-property-template" style="display: none;">
						<td class="span3">
							<span>New Property Name</span>
						</td>
						<td class="span8">
							<textarea class="span10" rows="2"/>
						</td>
						<td class="span1"><a class="remove-link" href="#" onclick="removeProperty(this)">×</a></td>
					</tr>

					<!-- Inputs for adding a new property -->
					<tr id="add-property" th:attr="data-path=${path}">
						<td class="span3">
							<input type="text" placeholder="New property name"/>
						</td>
						<td class="span9">
							<textarea class="span10" placeholder="Property value"/><br/>
							<button type="button">Add</button>
						</td>
						<td class="span1"></td>
					</tr>
					</tbody>
				</table>
			</div>


			<!-- Inherited Properties -->
			<div id="inherited-props-tab" class="tab-pane">
				<th:block th:if="${inheritedProperties.size() > 0}">
					<h1>Inherited Properties</h1>

					<table class="table">
						<thead>
						<tr>
							<th>Path</th>
							<th>Name</th>
							<th>Value</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="kvp: ${inheritedProperties}">
							<td class="span2">
								<a th:if="${kvp.path.isEmpty()}" th:href="@{/edit/}">(root)</a>
								<a th:unless="${kvp.path.isEmpty()}" th:href="@{'/edit/' + ${kvp.path}}" th:text="${kvp.path}">path</a>
							</td>
							<td class="span2" th:text="${kvp.name}">name</td>
							<td class="span8">
								<pre th:text="${kvp.value}">property value</pre>
							</td>
						</tr>
						</tbody>
					</table>
				</th:block>
			</div>

		</div>

		<hr/>

		<th:block>
			<div class="control-group">
				<label class="control-label">Commit Message:</label>

				<div class="controls">
							<textarea name="_message" rows="5" style="width: 100%;"
							          placeholder="Reason for / description of change"/>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<input type="hidden" name="_path" th:value="${path}"/>
					<input type="hidden" name="_nonce" th:value="${nonce}"/>
					<button type="submit" class="btn btn-primary">Commit</button>
				</div>
			</div>
		</th:block>
	</form>


	<script>
		$("#add-property button").click(function (e) {
			var name = $('#add-property input').val();
			var value = $('#add-property textarea').val();

			set(name, value);

			// Clear values
			$('#add-property input').val('');
			$('#add-property textarea').val('');
		});

		// Set or add a property
		function set(name, value) {
			var textareaName = "property." + name;

			var existing = $('textarea[name="' + textareaName + '"]');

			if (existing.length > 0) {
				if (value === null) {
					// Remove property
					var row = existing.parents('tr');

					// If we added the property in the UI then we can just delete it outright
					if (row.hasClass('new-property')) {
						row.remove();
					}
					else {
						// Otherwise the property is set server-side, so we should mark it as deleted
						row.removeClass('changed-property');
						row.addClass('deleted-property');

						row.find("a.remove-link").hide();
					}
				}
				else {
					existing.val(value);

					propertyChanged(existing);
				}
			}
			else {
				if (value === null) {
					return; // No action necessary, property didn't exist to begin with
				}

				var newRow = $("#new-property-template").clone();

				newRow.removeAttr('id'); // Remove the id

				// Extract the path
				newRow.find('td span').text(name);
				newRow.find('textarea').attr('name', textareaName);
				newRow.find('textarea').data('property-name', name);
				newRow.find('textarea').val(value);

				// Insert in place and show
				newRow.insertBefore($('#new-property-template'));
				newRow.show();

				propertyAdded(newRow);
			}
		}

		// Records that a property was changed
		function propertyChanged(textarea) {
			// Add changed-property class to the row containing this element
			var row = $(textarea).parents('tr');


			row.addClass('changed-property');
			row.removeClass('deleted-property');
			row.find("a.remove-link").show();
		}

		// Notifies that a property was added
		function propertyAdded(row) {
			// Add changed-property class to the row
			$(row).addClass('changed-property');
			$(row).addClass('new-property');
		}

		function getPropertyForRow(row) {
			var textarea = row.find('textarea');

			if (textarea.length == 0) {
				return; // no textareas found!
			}
			else if (textarea.data('property-name')) {
				return textarea.data('property-name');
			}
			else {
				return null; // does not appear to be a property
			}
		}

		// Called when the delete button is clicked against a row
		function removeProperty(a) {
			var row = $(a).parents('tr');

			var name = getPropertyForRow(row);

			// Remove the property
			set(name, null);
		}

		var propertySaveFormSubmitted = false;

		$(document).ready(function () {
			$(window).on('beforeunload', function () {
				if (propertySaveFormSubmitted) {
					return null; // Don't try to prevent property update form submissions
				}
				else if (($('tr.changed-property').length + $('tr.deleted-property').length) > 0) {
					return "There are uncommitted changes, are you sure you wish to discard them?";
				}
				else {
					return null;
				}
			});

			$('#importPropertiesModal').submit(function () {
				// Allow the form submit to continue without any warnings about unsaved changes
				propertySaveFormSubmitted = true;

			});

			$('#property-update-form').submit(function () {
				// Remove all deleted properties from the DOM
				$('tr.deleted-property').remove();

				// Allow the form submit to continue without any warnings about unsaved changes
				propertySaveFormSubmitted = true;
			});
		});
	</script>

	<p th:substituteby="includes :: footer"/>
</div>

<p th:substituteby="includes :: htmlfoot"/>
</body>
</html>
