<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:substituteby="includes :: htmlhead"/>

	<title th:text="'config:'+${path}">config:path</title>
</head>

<body id="top">
<!--/*@thymesVar id="inheritedProperties" type="java.util.List<com.peterphi.std.guice.config.rest.types.ConfigPropertyValue>"*/-->
<!--/*@thymesVar id="definedProperties" type="java.util.List<com.peterphi.std.guice.config.rest.types.ConfigPropertyValue>"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="parent" type="java.lang.String"*/-->
<!--/*@thymesVar id="children" type="java.util.List<java.lang.String>"*/-->
<!--/*@thymesVar id="paths" type="java.util.List<java.lang.String>"*/-->
<div class="container">
	<h1 th:text="${path}"></h1>

	<ul>

		<li th:if="${parent}"><a th:href="@{'/edit/'+${parent}}">Parent</a></li>
	</ul>

	<select id="path-nav" th:if="${children.size() > 0}">
		<option th:each="pathopt: ${children}" th:value="@{'/edit/' + ${pathopt}}" th:selected="${path} == ${pathopt}"
		        th:text="${pathopt}"></option>
	</select>

	<form th:action="@{/update}" method="POST">
		<h1>Defined Properties</h1>

		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="kvp: ${definedProperties}">
				<td th:text="${kvp.name}">name</td>
				<td>
					<textarea th:name="${kvp.path}+'|'+${kvp.name}" rows="3" cols="128" th:text="${kvp.value}"></textarea>
				</td>
			</tr>
			<tr id="new-property-template" style="display: none;" class="changed-property">
				<td>
					<span>New Property Name</span>
				</td>
				<td>
					<textarea rows="3" cols="128"/>
				</td>
			</tr>
			<tr id="add-property" th:attr="data-path=${path}">
				<td>
					<input type="text" placeholder="New property name"/>
				</td>
				<td>
					<textarea placeholder="Property value"/><br />
					<button type="button">Add</button>
				</td>
			</tr>
			</tbody>
		</table>

		<script>
			$("#add-property button").click(function(e) {
				var newRow = $("#new-property-template").clone();

				newRow.removeAttr('id'); // Remove the id

				// Extract the path
				var path = $('#add-property').data('path');
				var name = $('#add-property input').val();

				newRow.find('td span').text(name);
				newRow.find('textarea').attr('name',path + '|' + name);
				newRow.find('textarea').val($('#add-property textarea').val());

				// Insert in place and show
				newRow.insertBefore($('#new-property-template'));
				newRow.show();

				// Clear values
				$('#add-property input').val('');
				$('#add-property textarea').val('');
			});
		</script>

		<!-- Commit details -->
		<th:block>
			<input type="hidden" name="_path" th:value="${path}"/>
			Your name: <input type="text" name="_name" value="" placeholder="Unknown UI User"/><br/>
			Your e-mail: <input type="text" name="_email" value="" placeholder="nobody@localhost"/><br/>
			Commit Message:<br/>
			<textarea name="_message" rows="5" cols="80"/><br/>
			<br/>
			<input type="submit" value="Commit"/>
		</th:block>
	</form>


	<th:block th:if="${inheritedProperties.size() > 0}">
		<h1>Inherited Properties</h1>

		<table class="table">
			<thead>
			<tr>
				<th>Path</th>
				<th>Name</th>
				<th>Value</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="kvp: ${inheritedProperties}">
				<td><a th:href="@{'/edit/' + ${kvp.path}}" th:text="${kvp.path}">path</a></td>
				<td th:text="${kvp.name}">name</td>
				<td>
					<textarea readonly="readonly" th:name="${kvp.path}+'|'+${kvp.name}" rows="3" cols="128"
					          th:text="${kvp.value}"></textarea>
				</td>
			</tr>
			</tbody>
		</table>
	</th:block>
</div>
</body>
</html>
